/* Screen reader text */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
  margin: 0;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/**************
 * FORM STYLE *
 **************/

 .pat-form-banner {
   margin-bottom: 68px;
 }

 .pat-form-banner img {
   display: block;
 }

 svg {
   max-width: 100%;
 }

/* Main Title */
.pat-form-title-wrapper h1 {
  font-size: 30px;
  font-weight: 900;
  line-height: 1.2;
  padding: 0 0 24px;
  margin-bottom: 44px;
  color: #829AEF;
  border-bottom: 1px solid #707070;
}

/* Sidebar */
.pat-status-widget {
  margin-bottom: 100px;
}

#acf_pat_steps {
  list-style: none;
  padding-left: 0;
  margin-bottom: 100px;
}

#acf_pat_steps a {
  display: block;
  font-size: 12px;
  line-height: 1.2;
  color: #fff;
  background: #AB0DB6;
  text-transform: uppercase;
  text-align: center;
  padding: 16px 8px;
  margin-bottom: 10px;
}
#acf_pat_steps a:hover,
#acf_pat_steps a.active-pat-step-btn {
  text-decoration: none;
  background: #E476EB;
}

#acf_pat_steps li {
  position: relative;
}

#acf_pat_steps li .step-error-signal {
  display: none;
}
#acf_pat_steps li.haserror .step-error-signal {
  display: block;
  color: #fff;
  background: #F55E4F;
  border-radius: 100%;
  font-weight: bold;
  width: 20px;
  height: 20px;
  box-sizing: content-box;
  line-height: 1.3;
  text-align: center;
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
  border: 1px solid #f33b28;
}

.save-submit-wrapper {
  display: flex;
  justify-content: space-between;
}

.save-submit-wrapper button {
  flex-basis: calc( 50% - 4px );
  display: block;
  font-size: 12px;
  line-height: 1.2;
  color: #fff;
  background: #0053B4;
  text-transform: uppercase;
  text-align: center;
  padding: 16px 8px;
  margin-bottom: 10px;
  border: none;
  font-weight: bold;
}
.save-submit-wrapper button:hover {
  background: #6681DA;
}

/* Generic label and input style */
#portfolio-assessment-tool-form .acf-label {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: .3em;
}
#portfolio-assessment-tool-form .acf-label label {
  font-size: 16px;
  font-weight: normal !important;
  margin-bottom: 0;
}

#portfolio-assessment-tool-form .acf-label label .acf-required {
  color: #000;
}

#portfolio-assessment-tool-form .acf-label .description {
  font-size: 14px;
  overflow: visible;
}

#portfolio-assessment-tool-form .acf-input input {
  border: 1px solid #AB0DB6;
  border-radius: 2px;
}

#portfolio-assessment-tool-form .acf-input input:focus {
  border-color: #6681DA;
}

#portfolio-assessment-tool-form .acf-field {
  margin-bottom: 54px;
}

#portfolio-assessment-tool-form > .acf-fields > .acf-field-group,
#portfolio-assessment-tool-form > .acf-fields > .acf-field-message {
  margin-bottom: 0;
}

#portfolio-assessment-tool-form .acf-field-taxonomy:not(.top_description) .acf-label {
  display: block;
  text-align: left;
  width: auto;
}

#portfolio-assessment-tool-form .acf-field-taxonomy:not(.top_description) .acf-input {
  display: block;
  width: auto;
}

#portfolio-assessment-tool-form .acf-field-taxonomy:not(.top_description) .acf-input .select2-selection {
  border-color: #AB0DB6;
  border-radius: 2px;
}

/* About your organisation */
#pat-step-2 > .acf-input > .acf-fields > .acf-field > .acf-label label {
  font-weight: bold !important;
}

/* Section title */
#portfolio-assessment-tool-form > .acf-fields > .acf-field > .acf-label label {
  font-size: 30px;
  line-height: 1.2;
  color: #AB0DB6;
  margin-bottom: 28px;
  font-weight: normal !important;
}

/* Multi Likert questions */
#portfolio-assessment-tool-form .pat-multi-likert > .acf-label label {
  font-size: 16px;
  color: #fff;
  background: #6681DA;
  padding: 24px 12px;
  border-radius: 3px;
}

#portfolio-assessment-tool-form .pat-multi-likert > .acf-label label .acf-required {
  color: #fff;
}

#portfolio-assessment-tool-form .pat-multi-likert > .acf-input > .acf-fields > .acf-field {
  background: #fff;
  margin-bottom: 0;
  padding: 14px;
}
#portfolio-assessment-tool-form .pat-multi-likert > .acf-input > .acf-fields > .acf-field:nth-child(odd) {
  background: #F9F9F9;
}

#portfolio-assessment-tool-form .pat-multi-likert > .acf-input > .acf-fields > .acf-field.acf-error {
  padding-top: 80px;
}
#portfolio-assessment-tool-form .pat-multi-likert > .acf-input > .acf-fields > .acf-field.acf-error .acf-error-message {
  position: absolute;
  top: 0;
  transform: translateY(-68px);
  width: 100%;
}

.pat-multi-likert .acf-field-message > .acf-label {
  display: none;
}

.pat-multi-likert .acf-field-radio {
  display: flex;
  align-content: center;
  border-bottom: 1px solid lightgray !important;
}

#portfolio-assessment-tool-form .pat-multi-likert .acf-field-message .acf-field-radio {
  border-bottom: none !important;
  display: flex;
}

.pat-multi-likert .acf-field-message {
  border-bottom: 1px solid lightgray !important;
}

#portfolio-assessment-tool-form .pat-multi-likert .acf-field-radio > .acf-label {
  flex-basis: 40%;
  font-size: 13px;
  padding-right: 16px;
  margin-bottom: 0;
}

#portfolio-assessment-tool-form .pat-multi-likert .acf-field-radio > .acf-label label {
  font-size: 13px;
}

#portfolio-assessment-tool-form .pat-multi-likert .acf-field-radio > .acf-label label .acf-required {
  display: none;
}

.pat-multi-likert .acf-field-radio > .acf-input {
  flex-basis: 60%;
  display: flex;
  align-items: center;
}

.pat-multi-likert .acf-field-radio > .acf-input > .acf-radio-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pat-multi-likert .acf-field-radio > .acf-input > .acf-radio-list li {
  flex: 1 1 0;
  margin-right: 0;
  text-align: center;
}

.pat-multi-likert .acf-field-radio > .acf-input > .acf-radio-list li label {
  display: block;
  margin-bottom: 0;
}

.pat-multi-likert .acf-field-radio > .acf-input > .acf-radio-list li label input[type="radio"] {
  order: 2;
  margin-right: 0;
}

.pat-multi-likert > .acf-input > .acf-fields > .acf-field:not(:first-child) .acf-radio-list li label {
  color: transparent;
  font-size: 0;
}

#foo:checked::before,
.pat-multi-likert .acf-field-radio > .acf-input > .acf-radio-list li label input[type="radio"] {
  position:absolute;
  clip: rect(0,0,0,0);
}

#foo:checked,
.pat-multi-likert .acf-field-radio > .acf-input > .acf-radio-list li label {
  background: transparent url('../images/radio-unchecked.svg') no-repeat center center;
  background-size: contain;
}

.pat-multi-likert .acf-field-radio > .acf-input > .acf-radio-list li label.selected {
  background: transparent url('../images/radio-checked.svg') no-repeat center center;
  background-size: contain;
}

/* Ranking questions */
#portfolio-assessment-tool-form .pat-sortable-field > .acf-label {
  margin-bottom: 36px;
}

#portfolio-assessment-tool-form .pat-sortable-field > .acf-label label {
  font-size: 16px;
  color: #fff;
  background: #6681DA;
  padding: 24px 12px;
  border-radius: 3px;
}

#portfolio-assessment-tool-form .pat-sortable-field > .acf-label label .acf-required {
  color: #fff;
}

#portfolio-assessment-tool-form .pat-sortable-field > .acf-label label + .description {
  color: #fff;
  background: #6681DA;
  padding: 0 12px 24px;
  margin-top: -20px;
  border-radius: 3px;
  font-weight: bold;
  padding-top: .5em;
}

#portfolio-assessment-tool-form .pat-sortable-field > .acf-input {
  counter-reset: section;
}

#portfolio-assessment-tool-form .pat-sortable-field > .acf-input .acf-field-number {
  background: #fff;
  border: 1px solid #707070;
  border-radius: 2px;
  padding: 12px 14px;
  margin-bottom: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  cursor: pointer;
  counter-increment: section;
  display: flex;
  align-items: center;
}

#portfolio-assessment-tool-form .pat-sortable-field > .acf-input .acf-field-number::before {
  content: counter(section) ' -';
  display: inline-block;
  margin-right: .3em;
  min-width: 20px;
}

#portfolio-assessment-tool-form .pat-sortable-field > .acf-input .acf-field-number .acf-label,
#portfolio-assessment-tool-form .pat-sortable-field > .acf-input .acf-field-number .acf-label label {
  margin-bottom: 0;
  cursor: pointer;
}

#portfolio-assessment-tool-form .pat-sortable-field > .acf-input .acf-field-number .acf-label .acf-required {
  display: none;
}

#portfolio-assessment-tool-form .pat-sortable-field > .acf-input .acf-field-number > .acf-input {
  display: none;
}

/* Checkbox style */
#portfolio-assessment-tool-form .acf-field:not([id="pat-step-1"]) .acf-field-checkbox > .acf-label label {
  font-size: 16px;
  color: #fff;
  background: #6681DA;
  padding: 24px 12px;
  border-radius: 3px;
}
#portfolio-assessment-tool-form .acf-field:not([id="pat-step-1"]) .acf-field-checkbox > .acf-label label + .description {
  color: #fff;
  background: #6681DA;
  padding: 0 12px 24px;
  margin-top: -20px;
  border-radius: 3px;
}

#portfolio-assessment-tool-form .acf-field:not([id="pat-step-1"]) .acf-field-checkbox > .acf-label label .acf-required {
  color: #fff;
}

#portfolio-assessment-tool-form .acf-field:not([id="pat-step-1"]) .acf-field-checkbox > .acf-input .acf-checkbox-list {
  columns: 1;
  width: 100%;
}

#portfolio-assessment-tool-form .acf-field:not([id="pat-step-1"]) .acf-field-checkbox.two-cols-checkbox > .acf-input .acf-checkbox-list {
  columns: 2;
}

#portfolio-assessment-tool-form .acf-field-checkbox > .acf-input .acf-checkbox-list li {
  break-inside: avoid;
}

#portfolio-assessment-tool-form .acf-field-checkbox > .acf-input .acf-checkbox-list li label {
  display: block;
  font-size: 14px;
  font-weight: normal;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 2px;
  padding: 12px 14px;
  margin-bottom: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

#foo:checked::before,
#portfolio-assessment-tool-form .acf-field-checkbox > .acf-input .acf-checkbox-list li label input[type="checkbox"] {
  position:absolute;
  clip: rect(0,0,0,0);
  clip: rect(0 0 0 0);
}

#foo:checked,
#portfolio-assessment-tool-form .acf-field-checkbox > .acf-input .acf-checkbox-list li label {
  background: transparent url('../images/checkbox-unchecked.svg') no-repeat 14px center;
  background-size: 24px 24px;
  padding-left: 52px;
}

#portfolio-assessment-tool-form .acf-field-checkbox > .acf-input .acf-checkbox-list li label.selected {
  background: transparent url('../images/checkbox-checked.svg') no-repeat 14px center;
  background-size: 24px 24px;
  padding-left: 52px;
  border-color: #AB0DB6;
}

/* Radio button style */
#portfolio-assessment-tool-form > .acf-fields > .acf-field-group > .acf-input > .acf-fields > .acf-field-radio > .acf-label label {
  font-size: 16px;
  color: #fff;
  background: #6681DA;
  padding: 24px 12px;
  border-radius: 3px;
}
#portfolio-assessment-tool-form > .acf-fields > .acf-field-group > .acf-input > .acf-fields > .acf-field-radio > .acf-label label + .description {
  color: #fff;
  background: #6681DA;
  padding: 0 12px 24px;
  margin-top: -20px;
  border-radius: 3px;
}

#portfolio-assessment-tool-form > .acf-fields > .acf-field-group > .acf-input > .acf-fields > .acf-field-radio > .acf-input .acf-radio-list li label {
  display: block;
  font-size: 14px;
  font-weight: normal;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 2px;
  padding: 12px 14px;
  margin-bottom: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

#foo:checked::before,
#portfolio-assessment-tool-form > .acf-fields > .acf-field-group > .acf-input > .acf-fields > .acf-field-radio > .acf-input .acf-radio-list li label input[type="radio"] {
  position:absolute;
  clip: rect(0,0,0,0);
  clip: rect(0 0 0 0);
}

#foo:checked,
#portfolio-assessment-tool-form > .acf-fields > .acf-field-group > .acf-input > .acf-fields > .acf-field-radio > .acf-input .acf-radio-list li label {
  background: transparent url('../images/radio-unchecked.svg') no-repeat 14px center;
  background-size: 24px 24px;
  padding-left: 52px;
}

#portfolio-assessment-tool-form > .acf-fields > .acf-field-group > .acf-input > .acf-fields > .acf-field-radio > .acf-input .acf-radio-list li label.selected {
  background: transparent url('../images/radio-checked.svg') no-repeat 14px center;
  background-size: 24px 24px;
  padding-left: 52px;
  border-color: #AB0DB6;
}

/* Form pagination */
div[id^="pat-step-"],
.hide-pat-step {
  transition: transform .5s ease-in-out, opacity .5s ease-in-out;
  transform: translateX(-100%);
  opacity: 0;
  height: 0;
  top: 0;
  backface-visibility: hidden;
  overflow: hidden;
  margin-bottom: 0;
  padding: 0;
}

div[id^="pat-step-"].active-pat-step {
  transform: translateX(0);
  opacity: 1;
  height: auto;
  padding: inherit;
}

.pat-step-nav-container > .acf-label {
  display: none;
}

.pat-step-nav-container .pat-step-nav-wrapper {
  display: flex;
  justify-content: center;
}

.pat-step-nav-container .pat-step-nav-wrapper button,
.pat-step-nav-container .pat-step-nav-wrapper .button {
  display: block;
  font-size: 12px;
  line-height: 1.2;
  color: #fff;
  background: #0053B4;
  text-transform: uppercase;
  text-align: center;
  padding: 16px 8px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  font-weight: bold;
  min-width: 125px;
}
.pat-step-nav-container .pat-step-nav-wrapper button.primary-btn,
.pat-step-nav-container .pat-step-nav-wrapper .button.primary-btn {
  background: #AB0DB6;
}
.pat-step-nav-container .pat-step-nav-wrapper button:hover,
.pat-step-nav-container .pat-step-nav-wrapper .button:hover {
  background: #6681DA;
  text-decoration: none;
}

/* Results page */
.pat-results-top-nav {
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  transition: transform .4s ease-in-out;
  max-width: 1140px;
  z-index: 30;
  background: #6681DA;
  box-shadow: -600px 0 0 0 #6681DA, 600px 0 0 0 #6681DA;
  padding: 16px 0;
}
.pat-results-top-nav.show {
  transform: translateY(0);
}
.admin-bar .pat-results-top-nav.show {
  transform: translateY(32px);
}

.pat-results-side {
  width: calc( 100% / 4 );
  float: left;
  padding-right: 36px;
}

.pat-results-main-content > section,
.pat-results-fullwidth-section .pat-results-content {
  width: calc( 100% / 4 * 3 );
  float: right;
}

.pat-results-content::after {
  content: "";
  width: 100%;
  float: none;
  clear: both;
}

.pat-results-main-content > section.pat-results-fullwidth-section,
.pat-results-row {
  width: 100%;
  float: none;
  clear: both;
}
.pat-results-main-content > section.pat-results-fullwidth-section::after,
.pat-results-row::after {
  content: "";
  display: table;
  clear: both;
}

.pat-results-nav-menu {
  list-style: none;
  padding: 0;
  transition: top .4s ease-in-out;
  top: 0;
}

.pat-results-nav-menu.fixed {
  max-width: 242px;
  position: fixed;
  top: 68px;
  z-index: 10;
}

.second-side-nav .pat-results-nav-menu.fixed {
  z-index: 30;
}

.pat-results-nav-menu li a {
  display: block;
  text-align: center;
  border: none;
  padding: 12px;
  margin-bottom: 16px;
  background: #E4E4E4;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .16);
  color: #AB0DB6;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.2;
  position: relative;
  --scrollPerc: 0%;
}
.pat-results-nav-menu li a:hover {
  text-decoration: none;
  background: #4C1659;
  color: #fff;
}

.pat-results-nav-menu li a::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--scrollPerc);
  height: 100%;
  background-color: #ee0505;
  mix-blend-mode: soft-light;
  max-width: 100%;
  transition: width .4s ease-in-out;
}

.pat-results-nav-menu li.nav-share-item {
  text-align: center;
}
.pat-results-nav-menu li.nav-share-item a {
  border-radius: 26px;
  background: #4C1659;
  color: #fff;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}
.pat-results-nav-menu li.nav-share-item a:hover {
  background: #AB0DB6;
}
.pat-results-nav-menu li.nav-share-item a::before {
  content: "\f1e0 ";
  font-family: 'FontAwesome';
  display: inline-block;
  margin-right: 4px;
}

.pat-results-nav-menu li.nav-start-again-item a {
  background: #0053B4;
  color: #fff;
}
.pat-results-nav-menu li.nav-start-again-item a:hover {
  background: #6681DA;
}

.pat-results-top-nav .pat-results-nav-menu {
  align-items: stretch;
}

.pat-results-top-nav .pat-results-nav-menu li a {
  height: 100%;
  margin-bottom: 0;
  margin-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pat-results-top-nav  .pat-results-nav-menu li:last-child a {
  margin-right: 0;
}

.pat-results-top-nav .pat-results-nav-menu {
  display: flex;
}

.pat-results-top-nav .pat-results-nav-menu li.nav-share-item {
  display: flex;
  align-items: center;
}

.pat-results-top-nav .pat-results-nav-menu li.nav-share-item a {
  height: auto;
}

.pat-results-top-nav .pat-results-nav-menu li.nav-share-item a span {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
  margin: 0;
}

#introduction {
  margin-bottom: 70px;
}

.pat-results-main-content {
  font-size: 16px;
}

.pat-results-main-title {
  text-align: center;
  background: #6681DA;
  border-radius: 68px;
  color: #fff;
  font-size: 26px;
  padding: 1em 3em;
  margin-bottom: 44px;
}

.pat-results-main-title h2,
.pat-results-main-title .subtitle {
  font-size: 26px;
  color: #fff;
  font-weight: 600;
  line-height: 1.3;
}

.pat-results-main-title h2 {
  text-transform: uppercase;
  margin-bottom: 0;
}

.disclaimer {
  margin-bottom: 30px;
}

.diamond {
  margin-bottom: 30px;
}

#introduction .diamond + h3 {
  font-size: 30px;
  color: #AB0DB6;
}

.pat-results-fullwidth-section {
  background: #04384D;
  box-shadow: -600px 0 0 0 #04384D, 600px 0 0 0 #04384D;
  color: #fff;
  position: relative;
  z-index: 20;
}

.pat-results-fullwidth-section h2,
.pat-results-fullwidth-section h3,
.pat-results-fullwidth-section h4 {
  color: #fff;
}

.pat-results-fullwidth-section .pat-results-row:first-child .pat-results-content {
  padding-top: 160px;
}

.pat-results-fullwidth-section .section-title {
  font-size: 20px;
  font-weight: 600;
  background: #E2ECF4;
  color: #013647;
  text-align: center;
  padding: 1em 3em;
  border-radius: 44px;
  margin-bottom: 60px;
  text-transform: uppercase;
}
.pat-results-fullwidth-section .section-title strong {
  font-weight: 900;
}

.facet-diamond {
  text-align: center;
  margin-bottom: 30px;
}

.enhancement-inno-section,
.mission-inno-section,
.adaptive-inno-section,
.anticipatory-inno-section {
  margin-bottom: 120px;
  font-size: 24px;
}

.pat-results-row .pat-results-side {
  width: calc( 100% / 4 + 60px );
  padding-right: 0;
  /* opacity: 0; */
  /* transform: translateX(-150px); */
  /* transition: transform .4s ease-in-out, opacity .4s ease-in-out; */
}

.pat-results-row .pat-results-content {
  width: calc( 100% / 4 * 3 - 60px );
  padding-left: 36px;
  background: #335065;
  box-shadow: 600px 0 0 0 #335065;
  /* opacity: 0; */
  /* transform: translateX(150px); */
  /* transition: transform .4s ease-in-out, opacity .4s ease-in-out; */
}

.pat-results-row .pat-results-side > *,
.pat-results-row .pat-results-content > * {
  opacity: 0;
  transition: opacity .4s ease-in-out;
}

.pat-results-row .pat-results-side.show > *,
.pat-results-row .pat-results-content.show > * {
  /* transform: translateX(0); */
  opacity: 1;
}

.fw-section-side-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #4C1659;
  background: #fff;
  padding: 6px;
  text-align: center;
  padding-right: 60px;
  margin-bottom: 40px;
  position: relative;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .fw-section-side-title:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 34px solid #fff;
  border-top: 34px solid #04384D;
  border-bottom: 34px solid #04384D;
} */

.side-small-diamond-img {
  display: block;
  margin-right: 36px;
}

.pat-results-fullwidth-section .tendency-group .section-title {
  text-transform: none;
}

.tendency-group {
  margin-bottom: 120px;
}

#tendency-row.pat-results-row .pat-results-side {
  top: 0;
  transition: top .4s ease-in-out;
}
#tendency-row.pat-results-row .pat-results-side.fixed {
  display: block !important;
  position: fixed;
  top: 34px;
  width: calc( 1110px / 4 + 60px );
}

#portfolio-management-capability {
  background: #CBC9CB;
  box-shadow: -600px 0 0 0 #CBC9CB, 600px 0 0 0 #CBC9CB;
}
#portfolio-management-capability .pat-results-row .pat-results-content {
  background: #E4E4E4;
  box-shadow: 600px 0 0 0 #E4E4E4;
  padding-top: 120px;
  padding-bottom: 120px;
  color: #013647;
}

#portfolio-management-capability h2,
#portfolio-management-capability h3,
#portfolio-management-capability h4 {
  color: #4C1659;
}

#download-and-share,
#interpretation {
  background: #fff;
  box-shadow: -600px 0 0 0 #fff, 600px 0 0 0 #fff;
  color: #000;
}
#download-and-share .pat-results-row .pat-results-content,
#interpretation .pat-results-row .pat-results-content {
  background: #fff;
  box-shadow: 600px 0 0 0 #fff;
  padding-top: 120px;
  padding-bottom: 120px;
  color: #000;
}

#download-and-share h2,
#download-and-share h3,
#download-and-share h4,
#interpretation h2,
#interpretation h3,
#interpretation h4 {
  color: #4C1659;
}

#portfolio-management-capability .pat-results-row .pat-results-side {
  padding-top: 120px;
}

#portfolio-management-capability .pat-results-row .pat-results-side .fw-section-side-title::before {
  border-top-color: #CBC9CB;
  border-bottom-color: #CBC9CB;
}

.balance-graph {
  margin-bottom: 120px;
}

#download-and-share,
#interpretation {
  padding: 120px 0;
}

#download-and-share {
  padding-bottom: 0;
  z-index: 30;
}

#pmg-row .pat-results-side,
#pmg-row .pat-results-content .section-title {
  top: 0;
  transition: top .4s ease-in-out;
}

#pmg-row .pat-results-side.fixed {
  position: fixed;
  top: 34px;
  width: calc( 1110px / 4 + 60px );
}

#pmg-row .pat-results-content .section-title.fixed{
  position: fixed;
  top: 154px;
  width: calc( 1110px / 4 * 3 - 60px );
}

.side-small-diamond-img {
  text-align: center;
  margin-bottom: 24px;
}

/* .acf-field-5f34dc52a2fab .acf-row-handle {
  display: none;
} */
/* .acf-field-5f34dc52a2fab .acf-row > .acf-fields {
  border-right-width: 1px;
} */

/* Module 2 results section */
#module-2 {

}

#module-2 .pat-results-side,
#module-2 .pat-results-content {
  padding-top: 120px;
}

#module-2 .pat-results-side {
  top: 0;
  transition: top .4s ease-in-out;
}
#module-2 .pat-results-side.fixed {
	position: fixed;
	top: 34px;
	width: calc( 1110px / 4 + 60px );
}

#module-2 .module-2-graph-container {
  text-align: center;
}

#m2-graph-tooltip {
  display: none;
  background: #fff;
  color: #013647;
  font-size: 10px;
  padding: 4px;
  line-height: 1;
  text-transform: uppercase;
}
#m2-graph-tooltip.active {
  display: inline-block;
  position: fixed;
  transform-origin: left bottom;
}

.projects-list ul {
  padding-left: 0;
  list-style: none;
}

.projects-list li {
  display: flex;
  align-items: center;
}

.projects-list li::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #fff;
  margin-right: 6px;
}
.projects-list li.priority-m::before {
  width: 10px;
  height: 10px;
  margin-left: 2px;
}
.projects-list li.priority-l::before {
  width: 8px;
  height: 8px;
  margin-left: 4px;
}

.pat-results-fullwidth-section h3.projects-list-title {
  font-size: 26px;
  color: #9EC5E0;
  margin-bottom: 24px;
}

.module-2-lists-container {
  margin-bottom: 120px;
}

.modules-graphs-comparison .col-sm-6 {
  text-align: center;
}

.single-pat_submission .footarea {
  margin-top: 0;
}

#module-2-combined {
  top: -1px;
}

.module-2-combined-text {
  margin-bottom: 6em;
}

#portfolio-assessment-tool-form .acf-repeater .acf-field {
  margin-bottom: 0;
}

body.single-pat_submission .footarea {
  position: relative;
  z-index: 99999;
}

.goto-m2-btn {
  display: inline-block;
  font-size: 12px;
  line-height: 1.2;
  color: #fff;
  background: #0053B4;
  text-transform: uppercase;
  text-align: center;
  padding: 16px 8px;
  margin: 30px auto;
  border: none;
  font-weight: bold;
  text-decoration: none;
}
.goto-m2-btn:hover {
  color: #fff;
  text-decoration: none;
  background: #6681DA;
}
