/* Screen reader text */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
  margin: 0;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/* Multi Likert questions */
.pat-multi-likert .acf-field-message > .acf-label {
  visibility: hidden;
}

.pat-multi-likert .acf-field-radio {
  display: flex;
  align-content: baseline;
  border-bottom: 1px solid lightgray !important;
}

.pat-multi-likert .acf-field-radio > .acf-label {
  flex-basis: 40%;
  font-size: 14px;
  padding-right: 16px;
}

.pat-multi-likert .acf-field-radio > .acf-input {
  flex-basis: 60%;
}

.pat-multi-likert .acf-field-radio > .acf-input > .acf-radio-list {
  display: flex;
  justify-content: space-between;

}

.pat-multi-likert .acf-field-radio > .acf-input > .acf-radio-list li {
  flex: 1 1 0;
  margin-right: 0;
  text-align: center;
}

.pat-multi-likert .acf-field-radio > .acf-input > .acf-radio-list li label {
  display: flex;
  flex-direction: column;
}

.pat-multi-likert .acf-field-radio > .acf-input > .acf-radio-list li label input {
  order: 2;
  margin-right: 0;
}

.pat-multi-likert > .acf-input > .acf-fields > .acf-field:not(:first-child) .acf-radio-list li label {
  color: transparent;
  font-size: 0;
}

/* Ranking questions */
.pat-sortable-field > .acf-input .acf-field-number > .acf-input {
  display: none;
}
