/* Screen reader text */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
  margin: 0;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/**************
 * FORM STYLE *
 **************/

/* Main Title */
.pat-form-title-wrapper h1 {
  font-size: 30px;
  font-weight: 900;
  line-height: 1.2;
  padding: 0 0 24px;
  margin-bottom: 44px;
  color: #829AEF;
  border-bottom: 1px solid #707070;
}

/* Side buttons */
#acf_pat_steps {
  list-style: none;
  padding-left: 0;
  margin-bottom: 100px;
}

#acf_pat_steps a {
  display: block;
  font-size: 12px;
  line-height: 1.2;
  color: #fff;
  background: #AB0DB6;
  text-transform: uppercase;
  text-align: center;
  padding: 16px 8px;
  margin-bottom: 10px;
}
#acf_pat_steps a:hover {
  text-decoration: none;
  background: #E476EB;
}

.save-submit-wrapper {
  display: flex;
  justify-content: space-between;
}

.save-submit-wrapper button {
  flex-basis: calc( 50% - 4px );
  display: block;
  font-size: 12px;
  line-height: 1.2;
  color: #fff;
  background: #0053B4;
  text-transform: uppercase;
  text-align: center;
  padding: 16px 8px;
  margin-bottom: 10px;
  border: none;
  font-weight: bold;
}
.save-submit-wrapper button:hover {
  background: #6681DA;
}

/* Generic label and input style */
#portfolio-assessment-tool-form .acf-label {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: .3em;
}
#portfolio-assessment-tool-form .acf-label label {
  font-size: 16px;
  font-weight: normal !important;
  margin-bottom: 0;
}

#portfolio-assessment-tool-form .acf-label label .acf-required {
  color: #000;
}

#portfolio-assessment-tool-form .acf-label .description {
  font-size: 14px;
  overflow: visible;
}

#portfolio-assessment-tool-form .acf-input input {
  border: 1px solid #AB0DB6;
  border-radius: 2px;
}

#portfolio-assessment-tool-form .acf-input input:focus {
  border-color: #6681DA;
}

#portfolio-assessment-tool-form .acf-field {
  margin-bottom: 54px;
}

#portfolio-assessment-tool-form > .acf-fields > .acf-field-group {
  margin-bottom: 74px;
}

#portfolio-assessment-tool-form .acf-field-taxonomy:not(.top_description) .acf-label {
  display: block;
  text-align: left;
  width: auto;
}

#portfolio-assessment-tool-form .acf-field-taxonomy:not(.top_description) .acf-input {
  display: block;
  width: auto;
}

#portfolio-assessment-tool-form .acf-field-taxonomy:not(.top_description) .acf-input .select2-selection {
  border-color: #AB0DB6;
  border-radius: 2px;
}

/* Section title */
#portfolio-assessment-tool-form > .acf-fields > .acf-field > .acf-label label {
  font-size: 30px;
  line-height: 1.2;
  color: #AB0DB6;
  margin-bottom: 28px;
  font-weight: normal !important;
}

/* Odd section style  */
#portfolio-assessment-tool-form > .acf-fields > .acf-field-group:nth-child(odd) {
  background: #F9F9F9;
  box-shadow: -800px 0 0 0 #F9F9F9, 800px 0 0 0 #F9F9F9;
  padding: 64px 0;
}

#portfolio-assessment-tool-form .acf-fields.-border {
  background: transparent;
}

#portfolio-assessment-tool-form.stepform .acf-form-fields {
  overflow: visible;
}

/* Multi Likert questions */
#portfolio-assessment-tool-form .pat-multi-likert > .acf-label label {
  font-size: 16px;
  color: #fff;
  background: #6681DA;
  padding: 24px 12px;
  border-radius: 3px;
}

#portfolio-assessment-tool-form .pat-multi-likert > .acf-input > .acf-fields > .acf-field {
  background: #fff;
  margin-bottom: 0;
  padding: 14px;
}
#portfolio-assessment-tool-form .pat-multi-likert > .acf-input > .acf-fields > .acf-field:nth-child(odd) {
  background: #F9F9F9;
}

.pat-multi-likert .acf-field-message > .acf-label {
  display: none;
}

.pat-multi-likert .acf-field-radio {
  display: flex;
  align-content: center;
  border-bottom: 1px solid lightgray !important;
}

#portfolio-assessment-tool-form .pat-multi-likert .acf-field-message .acf-field-radio {
  border-bottom: none !important;
  display: flex;
}

.pat-multi-likert .acf-field-message {
  border-bottom: 1px solid lightgray !important;
}

#portfolio-assessment-tool-form .pat-multi-likert .acf-field-radio > .acf-label {
  flex-basis: 40%;
  font-size: 13px;
  padding-right: 16px;
  margin-bottom: 0;
}

#portfolio-assessment-tool-form .pat-multi-likert .acf-field-radio > .acf-label label {
  font-size: 13px;
}

.pat-multi-likert .acf-field-radio > .acf-input {
  flex-basis: 60%;
  display: flex;
  align-items: center;
}

.pat-multi-likert .acf-field-radio > .acf-input > .acf-radio-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pat-multi-likert .acf-field-radio > .acf-input > .acf-radio-list li {
  flex: 1 1 0;
  margin-right: 0;
  text-align: center;
}

.pat-multi-likert .acf-field-radio > .acf-input > .acf-radio-list li label {
  display: block;
  margin-bottom: 0;
}

.pat-multi-likert .acf-field-radio > .acf-input > .acf-radio-list li label input[type="radio"] {
  order: 2;
  margin-right: 0;
}

.pat-multi-likert > .acf-input > .acf-fields > .acf-field:not(:first-child) .acf-radio-list li label {
  color: transparent;
  font-size: 0;
}

#foo:checked::before,
.pat-multi-likert .acf-field-radio > .acf-input > .acf-radio-list li label input[type="radio"] {
  position:absolute;
  clip: rect(0,0,0,0);
  clip: rect(0 0 0 0);
}

#foo:checked,
.pat-multi-likert .acf-field-radio > .acf-input > .acf-radio-list li label {
  background: transparent url('../images/radio-unchecked.svg') no-repeat center center;
  background-size: contain;
}

.pat-multi-likert .acf-field-radio > .acf-input > .acf-radio-list li label.selected {
  background: transparent url('../images/radio-checked.svg') no-repeat center center;
  background-size: contain;
}

/* Ranking questions */
#portfolio-assessment-tool-form .pat-sortable-field > .acf-label {
  margin-bottom: 36px;
}

#portfolio-assessment-tool-form .pat-sortable-field > .acf-label label {
  font-size: 16px;
  color: #fff;
  background: #6681DA;
  padding: 24px 12px;
  border-radius: 3px;
}

#portfolio-assessment-tool-form .pat-sortable-field > .acf-label label + .description {
  color: #fff;
  background: #6681DA;
  padding: 0 12px 24px;
  margin-top: -20px;
  border-radius: 3px;
}

#portfolio-assessment-tool-form .pat-sortable-field > .acf-input .acf-field-number {
  background: #fff;
  border: 1px solid #707070;
  border-radius: 2px;
  padding: 12px 14px;
  margin-bottom: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  cursor: pointer;
}

#portfolio-assessment-tool-form .pat-sortable-field > .acf-input .acf-field-number .acf-label,
#portfolio-assessment-tool-form .pat-sortable-field > .acf-input .acf-field-number .acf-label label {
  margin-bottom: 0;
  cursor: pointer;
}

#portfolio-assessment-tool-form .pat-sortable-field > .acf-input .acf-field-number .acf-label .acf-required {
  display: none;
}

#portfolio-assessment-tool-form .pat-sortable-field > .acf-input .acf-field-number > .acf-input {
  display: none;
}

/* Checkbox style */
#portfolio-assessment-tool-form div:not(id="pat-step-1") .acf-field-checkbox > .acf-label label {
  font-size: 16px;
  color: #fff;
  background: #6681DA;
  padding: 24px 12px;
  border-radius: 3px;
}
#portfolio-assessment-tool-form div:not(id="pat-step-1") .acf-field-checkbox > .acf-label label + .description {
  color: #fff;
  background: #6681DA;
  padding: 0 12px 24px;
  margin-top: -20px;
  border-radius: 3px;
}

#portfolio-assessment-tool-form div:not(id="pat-step-1") .acf-field-checkbox > .acf-input .acf-checkbox-list {
  columns: 1;
  width: 100%;
}

#portfolio-assessment-tool-form .acf-field-checkbox > .acf-input .acf-checkbox-list li label {
  display: block;
  font-size: 14px;
  font-weight: normal;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 2px;
  padding: 12px 14px;
  margin-bottom: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

#foo:checked::before,
#portfolio-assessment-tool-form .acf-field-checkbox > .acf-input .acf-checkbox-list li label input[type="checkbox"] {
  position:absolute;
  clip: rect(0,0,0,0);
  clip: rect(0 0 0 0);
}

#foo:checked,
#portfolio-assessment-tool-form .acf-field-checkbox > .acf-input .acf-checkbox-list li label {
  background: transparent url('../images/checkbox-unchecked.svg') no-repeat 14px center;
  background-size: 24px 24px;
  padding-left: 52px;
}

#portfolio-assessment-tool-form .acf-field-checkbox > .acf-input .acf-checkbox-list li label.selected {
  background: transparent url('../images/checkbox-checked.svg') no-repeat 14px center;
  background-size: 24px 24px;
  padding-left: 52px;
  border-color: #AB0DB6;
}

/* Radio button style */
#portfolio-assessment-tool-form > .acf-fields > .acf-field-group > .acf-input > .acf-fields > .acf-field-radio > .acf-label label {
  font-size: 16px;
  color: #fff;
  background: #6681DA;
  padding: 24px 12px;
  border-radius: 3px;
}
#portfolio-assessment-tool-form > .acf-fields > .acf-field-group > .acf-input > .acf-fields > .acf-field-radio > .acf-label label + .description {
  color: #fff;
  background: #6681DA;
  padding: 0 12px 24px;
  margin-top: -20px;
  border-radius: 3px;
}

#portfolio-assessment-tool-form > .acf-fields > .acf-field-group > .acf-input > .acf-fields > .acf-field-radio > .acf-input .acf-radio-list li label {
  display: block;
  font-size: 14px;
  font-weight: normal;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 2px;
  padding: 12px 14px;
  margin-bottom: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

#foo:checked::before,
#portfolio-assessment-tool-form > .acf-fields > .acf-field-group > .acf-input > .acf-fields > .acf-field-radio > .acf-input .acf-radio-list li label input[type="radio"] {
  position:absolute;
  clip: rect(0,0,0,0);
  clip: rect(0 0 0 0);
}

#foo:checked,
#portfolio-assessment-tool-form > .acf-fields > .acf-field-group > .acf-input > .acf-fields > .acf-field-radio > .acf-input .acf-radio-list li label {
  background: transparent url('../images/radio-unchecked.svg') no-repeat 14px center;
  background-size: 24px 24px;
  padding-left: 52px;
}

#portfolio-assessment-tool-form > .acf-fields > .acf-field-group > .acf-input > .acf-fields > .acf-field-radio > .acf-input .acf-radio-list li label.selected {
  background: transparent url('../images/radio-checked.svg') no-repeat 14px center;
  background-size: 24px 24px;
  padding-left: 52px;
  border-color: #AB0DB6;
}
